__pycache__/
exps/
results/

timit_hb_feat*/
timit_pcm/

timit_test/
timit_test_w2v/

wav2vec2_timit*.ckpt.*
data2vec_timit*.ckpt.*
hubert_timit*.ckpt.*
wavlm_timit*.ckpt.*

timit_test_d2v
timit_test_hb
timit_test_wlm
